# Global settings
  # Timezone
  TIMEZONE="America/Toronto"
  # User ID of bind mount
  PUID="2000"
  # Group ID of bind mount
  PGID="2000"

# Directory mounts
  # Location of appdata root
  APPDATA="/data/appdata/mediacenter"
  # Location of media mount
  MEDIA="/data/media"
  # Location of usenet download directory
  USENET_DOWNLOADS="/data/downloads"
  # Location of torrent download directory
  TORRENT_DOWNLOADS="/data/local_media/downloads"

# Domain names
  # Root domain name
  DOMAIN=""
	# Traefik Domain
	TRAEFIK_DOMAIN="traefik"
	# PHPLdapAdmin domain
	PHPMYADMIN_DOMAIN="mysql"

# Cloudflare settings
	CLOUDFLARE_EMAIL=""
  CLOUDFLARE_DOMAIN_ZONE_ID=""
  CLOUDFLARE_API_TOKEN=""

# Database settings
	MARIADB_ROOT_PASSWORD=""
