# Global settings
  # Timezone
  TIMEZONE="America/Toronto"
  # User ID of bind mount
  PUID="2000"
  # Group ID of bind mount
  PGID="2000"

# Directory mounts
  # Location of appdata root
  APPDATA="/data/appdata/mediacenter"
  # Location of media mount
  MEDIA="/data/media"
  # Location of usenet download directory
  USENET_DOWNLOADS="/data/downloads"
  # Location of torrent download directory
  TORRENT_DOWNLOADS="/data/local_media/downloads"

# Domain names
  # Root domain name
  DOMAIN=""
	# Admin domain
	ADMIN_DOMAIN=admin
	# Media domain
	MEDIA_DOMAIN=media

# Identity domains
	# Authelia domain
	AUTHELIA_DOMAIN=auth
	# Keycloak domain
	KEYCLOAK_DOMAIN=id
	# Traefik Domain
	TRAEFIK_DOMAIN="traefik"
	# PHPMyAdmin domain
	PHP_MY_ADMIN_DOMAIN="mysql"
	# PHPLdapAdmin domain
	PHP_LDAP_ADMIN_DOMAIN="ldap"

# Frontend domain names
	# Organizr domain
	ORGANIZR_DOMAIN="web"
	# Subdomain name of emby
	EMBY_DOMAIN="emby"
	# Subdomain name of jellyfin
	JELLYFIN_DOMAIN="jellyfin"
	# Subdomain name of airsonic
	AIRSONIC_DOMAIN="airsonic"
	# Subdomain name of ombi
	OMBI_DOMAIN="ombi"

# Indexer domain names
	# Subdomain name of sonarr
	SONARR_DOMAIN="tv"
	# Subdomain name of radarr
	RADARR_DOMAIN="movies"
	# Subdomain name of lidarr
	LIDARR_DOMAIN="music"
	# Subdomain name of jackett
	JACKETT_DOMAIN="indexer"

# Downloader domain names
  # Subdomain name of nzbget
  NZBGET_DOMAIN="usenet"
  # Subdomain name of deluge
  DELUGE_DOMAIN="torrent"

# Cloudflare settings
	CLOUDFLARE_EMAIL=""
  CLOUDFLARE_DOMAIN_ZONE_ID=""
  CLOUDFLARE_API_TOKEN=""

# Database settings
	MARIADB_ROOT_PASSWORD=""

# Ldap settings
	LDAP_ORGANISATION_NAME=""
	LDAP_ADMIN_PASSWORD=""
	LDAP_CONFIG_PASSWORD=""
	LDAP_READONLY_USER_PASSWORD=""

# Keycloak settings
	# Database username
	KEYCLOAK_DATABASE_USERNAME="keycloak"
	# Database password
	KEYCLOAK_DATABASE_PASSWORD=""
	# Keycloak admin username
	KEYCLOAK_ADMIN_USERNAME="admin"
	# Keycloak admin password
	KEYCLOAK_ADMIN_PASSWORD=""